<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

<tr>
    <th>번호</th>
    <td th:text="${category.idx}"></td>
</tr>
<tr>
    <th>이름</th>
    <td th:text="${category.name}"></td>
</tr>
</table>
<a th:href="@{/category/delete/{idx}(idx=${category.idx})}" class="btn">카테고리 삭제</a>
<a th:href="@{/category/modify/{idx}(idx=${category.idx})}" class="btn">카테고리 수정</a>
<a th:href="@{/category/update/{idx}(idx=${category.idx})}" class="btn">카테고리 추가</a>

</body>
</html>